
%h2
  %legend tknzk's blog recently entries

%ul{class: 'list-unstyled'}
  - @feed_blog.items.each do |e|
    %li
      %i{class: 'glyphicon glyphicon-ok icon'}
      %a{href: e.link.href, target: '_blank'}=e.title.content
      %em{class: 'muted'}=e.updated.content.strftime('%Y-%m-%d %H:%M:%S %Z')

%h2
  %legend tknzk's tech log recently entries

%ul{class: 'list-unstyled'}
  - @feed_tech.items.each do |e|
    %li
      %i{class: 'glyphicon glyphicon-ok icon'}
      %a{href: e.link.href, target: '_blank'}=e.title.content
      %em{class: 'muted'}=e.updated.content.strftime('%Y-%m-%d %H:%M:%S %Z')


%h2
  %legend libraries

%ul{class: 'list-unstyled'}
  - @libralies.each do |l|
    %li
      %i{class: 'glyphicon glyphicon-ok icon'}
      %a{href: l[:url], target: "_blank"}=l[:title]

%h2
  %legend Skill

%ul{class: 'list-unstyled'}
  - @skills.each do |s|
    %li
      %i{class: 'glyphicon glyphicon-ok icon'}
      =s
%hr

%ul{class: 'list-unstyled'}
  - @waf.each do |w|
    %li
      %i{class: 'glyphicon glyphicon-ok icon'}
      =w

%h2
  %legend Tweet

%a{class: 'twitter-timeline', href: 'https://twitter.com/tknzk', lang: 'en', 'data-widget-id' => '575446120563802113'}
  Tweet by @tknzk

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


%div{class: 'footer'}
  %h2
    %legend Contact Me
  %address
    %strong
      %u Takumi Kanzaki

    %ul{class: 'list-unstyled'}
      %li
        %i{class: "fa fa-envelope icon"}
          &nbsp;i&#110;fo&#64;t&#107;n&#122;k&#46;&#99;&#111;&#109;

      %li
        %i{class: "fa fa-facebook-square icon"}
        %a{href: "http://www.facebook.com/tknzk", target:"_blank" }
          Takumi Kanzaki
      %li
        %i{class: "fa fa-twitter icon"}
        %a{href: "https://www.twitter.com/tknzk",target: "_blank"}
          @tknzk
      %li
        %i{class: "fa fa-github-square icon"}
        %a{href: "https://www.github.com/tknzk",target:"_blank"}
          tknzk

