%div{class: 'mt-4'}
  %ul{class: 'nav nav-pills'}
    %li{class: 'nav-item'}
      %a{href: '/', class: 'nav-link border border-dark'}
        tknzk.com
    %li{class: 'nav-item'}
      %a{href: 'http://tknzk.hatenablog.jp/', class: 'nav-link', target: '_blank'}
        tknzk's blog
    %li{class: 'nav-item'}
      %a{href: '//tknzk.hateblo.jp/', class: 'nav-link', target: '_blank'}
        tknzk's tech blog
    %li{class: 'nav-item'}
      %a{href: 'https://github.com/tknzk/CV', class: 'nav-link', target: '_blank'}
        curriculum vitae


%div{class: 'mt-5'}
  %h2
    About Me

  %div{class: 'container'}
    %div{class: 'row'}
      %div{class: 'col-sm'}
        %span{class: 'font-weight-bold text-lg'}
          %u Takumi Kanzaki
        %br
        %span{class: 'text-muted'}
          Software engineer

        %ul{class: 'list-unstyled'}
          %li
            %i{class: 'far fa-envelope'}
            %span
              &nbsp;i&#110;fo&#64;t&#107;n&#122;k&#46;&#99;&#111;&#109;

          %li
            %i{class: 'fab fa-facebook-square'}
            %a{href: 'https://www.facebook.com/tknzk', target:'_blank' }
              Facebook
          %li
            %i{class: 'fab fa-twitter'}
            %a{href: 'https://www.twitter.com/tknzk',target: '_blank'}
              Twitter
          %li
            %i{class: 'fab fa-github-square'}
            %a{href: 'https://www.github.com/tknzk',target:'_blank'}
              GitHub
          %li
            %i{class: 'fab fa-speaker-deck'}
            %a{href: 'https://speakerdeck.com/tknzk',target:'_blank'}
              Speaker Deck

      %div{class: 'col-sm'}
        %div{class: 'row'}
          %legend Libraries

          %ul{class: 'list-unstyled'}
            - @libralies.each do |l|
              %li
                %i{class: 'far fa-code'}
                %a{href: l[:url], target: '_blank'}=l[:title]

  %div{class: 'container mt-4'}
    %div{class: 'row'}
      %img{src: 'https://grass-graph.appspot.com/images/tknzk.png?background=none', class: 'grass-graph-img img-fluid', alt: 'Grass-Graph'}
      %p{class: 'col-12 text-sm-right'}
        Powered by
        %a{href: 'https://grass-graph.appspot.com', target: '_blank'}
          Grass-Graph

%footer{class: 'footer mt-auto py-3'}
  %div{class: 'container'}
    %span{class: 'text-muted'}
      Copyright
      %i{class: 'far fa-copyright'}
      2019 by tknzk


