version: 2.1

executors:
  working_directory: /root/tknzk-com
  ruby_3_4:
    docker:
      - image: rubylang/ruby:3.3-dev-jammy

commands:
  install_system_dependencies:
    description: "Install system dependencies"
    steps:
      - run:
          name: Install System Dependencies
          # https://circleci.com/docs/2.0/custom-images/#required-tools-for-primary-containers
          command: apt-get update -y && apt-get install -y ssh

  bundle_gems:
    description: "Bundle gems"
    steps:
      - run:
          name: Bundle gems
          command: |
            gem install bundler -v 2.6.9 --no-document --force
            bundle install

  run_tests:
    description: "Run tests"
    steps:
      - run:
          name: Run tests
          command: |
            bundle exec rubocop

jobs:
  run_tests_on_ruby_3_4:
    executor: ruby_3_4
    steps:
      - install_system_dependencies
      - checkout
      - bundle_gems
      - run_tests

workflows:
  version: 2
  test:
    jobs:
      - run_tests_on_ruby_3_4
