name: Ruby

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
        # https://hub.docker.com/r/rubylang/ruby
        - '3.4-dev-jammy'
    container:
      image: rubylang/ruby:${{ matrix.ruby }}

    steps:
      - uses: actions/checkout@master
      - name: Build and test
        run: |
          gem install bundler -v 2.6.9 --force
          bundle install
          bundle exec rubocop
